html{
	background: #FFF;
	overflow: hidden;
}
body{
	font: 78% "trebuchet MS";
}
*{
	margin: 0;
	padding: 0;
}
img{
	border: 0;
	vertical-align: middle;
	padding-bottom: 2px;
}
.cleaner{
	clear: both;
}
.freeblock{
	clear: both;
	height: 20px;
}
a{
	outline: none;
}
.header{
	padding: 0 5px 0 5px;
	position: absolute;
	height: 32px;
	top: 0;
	left: 0;
	width: 100%;
	background: url(/media/backoffice/bandeau_CMS.png) top left no-repeat;
}
.header .logo-cms{
	position: absolute;
	top: 0px;
}
.header .nav-top{
	position: absolute;
	top: 9px;
	right: 15px;
}
.sub-header{
	padding: 4px 5px 4px 5px;
	position: absolute;
	height: 22px;
	top: 32px;
	left: 0;
	width: 100%;
	background: url(/media/backoffice/bg_subheader_c.png) #ccc top left repeat-x;
	border-bottom: 1px solid silver;
}
.sub-header-title{
	position: absolute;
	left: 5px;
	top: 4px;
	font-size: 1.4em;
	color: #666;
	font-weight: bold;
}
.sub-header-nav{
	position: absolute;
	right: 15px;
	top: 7px;
}
.etape{
	font-weight: bold;
	font-size: 1.1em;
	color: #FFF;
}
a{
	color: #000;
}
.container-pop{
	overflow: hidden;
	width: 100%;
	position: absolute;
	top: 63px;
	bottom: 0;
	left: 0;
	background: url(/media/backoffice/contentbg.gif) top left repeat-x;
}
.content-about{
	position: relative;
	padding: 20px 10px 10px 10px;
}
.content-about span{
	position: relative;
	color: #999;
	font-weight: bold;
	letter-spacing: 1px;
}
.content-about p{
	position: relative;
	top: 20px;
	margin-bottom: 20px;
}
.content-about img.about{
	display: block;
	clear: both;
	margin: 0 auto 20px auto;
}
