wsearchbox,hbox.wsearchbox{
	background-image: url(/changeicons/small/search.png) ;
	background-position: 8px 2px!important;
	background-repeat: no-repeat!important;
	margin-top: 2px!important;
	margin-right: 8px!important;
	padding-left: 28px!important;
	background-color: white!important;
	-moz-border-radius: 100px!important;
	width: 190px!important;
	height: 20px!important;
	outline-style: solid!important;
	outline-width: 1px!important;
	outline-color: #AAA!important;
	-moz-outline-radius: 100px!important;
}
wsearchbox.busy,hbox.busy{
	background-image: url(/media/backoffice/loading_16.gif) ;
	background-position: 8px 2px!important;
	background-repeat: no-repeat!important;
}
treechildren::-moz-tree-cell-text(searchresults-header){
	font-weight: bolder;
}
.dashed-container{
	background-image: url(/media/backoffice/stage-bg.png) !important;
	background-position: top left!important;
	background-repeat: repeat!important;
}
window{
	-moz-appearance: window!important;
	background-image: url(/media/backoffice/contentbg.gif) !important;
	background-position: top left!important;
	background-repeat: repeat-x!important;
}
.tabs-right{
	-moz-appearance: none!important;
	border: none!important;
	-moz-border-bottom-colors: none!important;
	border-bottom: 1px solid #ccc!important;
}
.toolbarbutton-text{
	margin: 0!important;
}
toolbarbutton{
	margin: 0!important;
	padding: 0 2px 0 4px!important;
}
toolbar{
	background-color: transparent;
	background-image: none;
}
toolbox{
	margin: 0!important;
	padding: 0 0 1px 0!important;
}
toolbarspacer{
	min-width: 16px!important;
}
groupbox{
	-moz-appearance: none;
	padding: 5px 5px 5px 22px;
	margin: 5px;
	border: 1px solid gainsboro;
	-moz-border-radius: 5px;
	background-color: transparent;
}
toolbarbutton[checked="true"]{
	-moz-appearance: none!important;
	background-color: indianred!important;
	background-image: none!important;
	border-top: 1px solid grey!important;
	border-bottom: 1px solid white!important;
	color: ButtonText!important;
}
toolbarbutton.activity-stop{
	-moz-appearance: none!important;
	background-image: url(/media/backoffice/activity-stop.png) !important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	background-color: white!important;
	width: 12px!important;
	height: 12px!important;
	border: none!important;
	padding: 0!important;
}
toolbarbutton.activity-stop:hover{
	-moz-appearance: none!important;
	background-image: url(/media/backoffice/activity-stop-hover.png) !important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	background-color: white!important;
	width: 12px!important;
	height: 12px!important;
	border: none!important;
	padding: 0!important;
}
toolbarbutton[disabled="true"].activity-stop:hover{
	background-image: url(/media/backoffice/activity-stop.png) !important;
}
toolbarbutton.search-back{
	-moz-appearance: none!important;
	background-image: url(/media/backoffice/search-back.png) !important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	background-color: white!important;
	width: 12px!important;
	height: 12px!important;
	border: none!important;
	padding: 0!important;
	margin-right: 2px!important;
}
toolbarbutton[disabled=true].search-back{
	background-image: url(/media/backoffice/search-back-disabled.png) !important;
}
toolbarbutton.griddy-left{
	-moz-appearance: none!important;
	background-image: url(/media/backoffice/griddy-right.gif) !important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	background-color: white!important;
	width: 8px!important;
	height: 60px!important;
	border: none!important;
	padding: 0!important;
	cursor: pointer!important;
}
toolbarbutton.griddy-right{
	-moz-appearance: none!important;
	background-image: url(/media/backoffice/griddy-left.gif) !important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	background-color: white!important;
	width: 8px!important;
	height: 60px!important;
	border: none!important;
	padding: 0!important;
	cursor: pointer!important;
}
window{
	font-family: "trebuchet MS", Arial, sans-serif;
	background: url(/media/backoffice/contentbg.gif) #fff top left repeat-x;
}
tabbox tabbox{
	margin: 4px;
}
tree, popup, menupopup, tabpanel, tabpanels{
	background: #fff;
}
toolbar,tabs{
	-moz-appearance: none!important;
	border: none!important;
	-moz-border-top-colors: none!important;
	-moz-border-bottom-colors: none!important;
}
tab:focus>.tab-middle{
	outline: none!important;
}
tabpanels{
	-moz-appearance: none!important;
	border: none!important;
	-moz-border-right-colors: none!important;
	-moz-border-bottom-colors: none!important;
	-moz-border-left-colors: none!important;
	-moz-border-top-colors: none!important;
	border-left: 1px solid #ccc!important;
	border-bottom: 1px solid #ccc!important;
	border-right: 1px solid #ccc!important;
	border-top: 1px solid transparent!important;
}
tabpanel{
	-moz-appearance: none!important;
	border: none!important;
	-moz-border-bottom-colors: none!important;
	background: url(/media/backoffice/headerbg.gif) #fff bottom left repeat-x!important;
}
tab{
	-moz-appearance: none!important;
	border: none!important;
	background: url(/media/backoffice/headerbg.gif) #fff bottom left repeat-x!important;
	-moz-border-bottom-colors: none!important;
	-moz-border-right-colors: none!important;
	-moz-border-top-colors: none!important;
	-moz-border-left-colors: none!important;
	border: 1px solid #ccc!important;
	-moz-user-focus: none!important;
	-moz-box-align: center!important;
}
tab label, button label{
	padding-left: 5px!important;
}
tab:hover{
	background: url(/media/backoffice/contentbg.gif) #fff top left repeat-x!important;
}
tab[selected="true"]{
	-moz-appearance: none!important;
	border: none!important;
	background: url(/media/backoffice/contentbg.gif) #fff top left repeat-x!important;
	-moz-border-bottom-colors: none!important;
	-moz-border-right-colors: none!important;
	-moz-border-top-colors: none!important;
	-moz-border-left-colors: none!important;
	border: none!important;
	border-top: 1px solid #ccc!important;
	border-right: 1px solid #ccc!important;
	border-left: 1px solid #ccc!important;
	padding: 0 6px 4px 6px!important;
	margin: 0 0 0 0!important;
	font-weight: bold!important;
	color: #000!important;
}
menulist[focused] box, menulist[focused] vbox, menulist[focused] hbox, menulist[focused] scrollbox{
	color: #000!important;
}
tree{
	padding: 0px;
	margin: 0px;
	-moz-appearance: none!important;
	border: none!important;
}
treecol, listheader, treecolpicker{
	-moz-appearance: none!important;
	border: none!important;
	border-left: 2px solid #fff!important;
	background: url(/media/backoffice/headerbg.gif) #fff bottom left repeat-x!important;
}
treecol label, listheader label{
	font-weight: bolder;
	color: #000;
	font-size: 10pt;
}
treechildren::-moz-tree-cell-text{
	margin-left: 3px!important;
}
treechildren::-moz-tree-cell-text(container){
	font-weight: bold!important;
}
treechildren::-moz-tree-image(data){
	list-style-image: url(/changeicons/small/document.png) ;
}
treechildren::-moz-tree-image(modules_generic_folder, leaf){
	list-style-image: url(/changeicons/small/folder.png) ;
}
treechildren::-moz-tree-image(go_to_parent_folder){
	list-style-image: url(/changeicons/small/navigate_up2.png) ;
}
treechildren::-moz-tree-image(go_to_parent_folder disabled){
	list-style-image: url(/changeicons/small/navigate_cross.png) ;
}
treechildren::-moz-tree-cell-text(go_to_parent_folder){
	font-weight: bold;
	color: gray;
}
treechildren::-moz-tree-image(item_loading){
	list-style-image: url(/changeicons/small/item-loading.png) ;
}
treechildren::-moz-tree-cell-text(item_loading){
	font-style: italic;
}
treechildren::-moz-tree-image(modules_generic_folder, open){
	list-style-image: url(/changeicons/small/folder.png) ;
}
treechildren::-moz-tree-image(modules_generic_folder, closed){
	list-style-image: url(/changeicons/small/folder.png) ;
}
treechildren::-moz-tree-image(modules_generic_rootfolder, leaf){
	list-style-image: url(/changeicons/small/rootfolder.png) ;
}
treechildren::-moz-tree-image(modules_generic_rootfolder, open){
	list-style-image: url(/changeicons/small/rootfolder.png) ;
}
treechildren::-moz-tree-image(modules_generic_rootfolder, closed){
	list-style-image: url(/changeicons/small/rootfolder.png) ;
}
treechildren::-moz-tree-image(modules_generic_systemfolder, leaf){
	list-style-image: url(/changeicons/small/systemfolder.png) ;
}
treechildren::-moz-tree-image(modules_generic_systemfolder, open){
	list-style-image: url(/changeicons/small/systemfolder.png) ;
}
treechildren::-moz-tree-image(modules_generic_systemfolder, closed){
	list-style-image: url(/changeicons/small/systemfolder.png) ;
}
treechildren::-moz-tree-cell-text(modules_generic_systemfolder){
	color: blue;
}
treechildren::-moz-tree-image(publicated){
	list-style-image: url(/changeicons/small/published-document.png) ;
}
treechildren::-moz-tree-image(publishable){
	list-style-image: url(/changeicons/small/publishable-document.png) ;
}
treechildren::-moz-tree-image(workflow){
	list-style-image: url(/changeicons/small/workflow.png) ;
}
treechildren::-moz-tree-image(correction){
	list-style-image: url(/changeicons/small/correction.png) ;
}
treechildren::-moz-tree-cell-text(readonly){
	color: grey;
}
treechildren::-moz-tree-image(error){
	list-style-image: url(/changeicons/small/error.png) ;
}
treechildren::-moz-tree-cell-text(error){
	color: red;
	font-weight: bold;
}
treechildren::-moz-tree-cell-text(selected){
	color: #000;
}
treechildren::-moz-tree-cell-text(focused){
	color: #000;
}
treechildren::-moz-tree-cell-text(readonly, selected){
	color: silver;
}
treechildren::-moz-tree-cell-text(readonly, focused){
	color: silver;
}
treechildren::-moz-tree-row(topicseparator){
	background-color: aliceblue!important;
	background-image: url(/changeicons/small/earth.png) !important;
	background-repeat: no-repeat!important;
	background-position: right!important;
	border-top: 1px dotted powderblue!important;
	border-bottom: 1px dotted powderblue!important;
}
treechildren::-moz-tree-row(stdseparator){
	border-bottom: 1px dotted #ccc!important;
}
treechildren::-moz-tree-row(hasPermissions){
	background-image: url(/changeicons/small/lock.png) ;
	background-repeat: no-repeat;
	background-position: right;
}
treechildren::-moz-tree-separator{
	border: none!important;
}
treechildren::-moz-tree-checkbox{
	list-style-image: url(/changeicons/small/check-box-uncheck.png) ;
}
treechildren::-moz-tree-checkbox(checked){
	list-style-image: url(/changeicons/small/check-box-check.png) ;
}
tree treechildren::-moz-tree-row(dropOn){
	background-color: #BBFFFF;
	background-image: url(/changeicons/small/arrow-left-blue.png) ;
	background-repeat: no-repeat;
	background-position: right;
}
tree treechildren::-moz-tree-row(dropBefore){
	background-image: url(/changeicons/small/arrow-up-blue.png) ;
	background-repeat: no-repeat;
	background-position: right;
	border-top: 1px solid red;
}
tree treechildren::-moz-tree-row(dropAfter){
	background-image: url(/changeicons/small/arrow-down-blue.png) ;
	background-repeat: no-repeat;
	background-position: right;
	border-bottom: 1px solid red;
}
treechildren::-moz-tree-cell(lang_unavailable)
{
	background-image: url(/media/backoffice/bg_notranslation.png);
	background-position: center left;
	background-repeat: no-repeat;
}
toolbarbutton[disabled="true"]{
	opacity: 0.4;
}
label.warning{
	color: red;
	font-weight: bold;
}
label.strong{
	margin-left: 15px!important;
	font-weight: bold!important;
}
tabbox, tabpanels, tabpanel{
	padding: 0px;
	margin: 0px;
}
caption>label{
	font-weight: bold;
}
vbox.exception{
	height: 250px;
}
vbox.exception>toolbar{
	background: darkred;
}
vbox.exception>toolbar>toolbarbutton{
	color: #ffffdd;
}
vbox.exception>toolbar>toolbarbutton:hover{
	color: darkred;
}
vbox.exception>toolbar>label{
	color: #ffffdd;
	font-size: 12pt;
	font-weight: bold;
	margin: 0px;
	padding: 2px;
}
textbox.exception{
	padding: 0px;
	margin: 0px;
}
textbox.exception textarea{
	background: #ffffdd;
	color: darkred;
	padding: 5px;
	margin: 0px;
	font-family: Courier New, Courier, Sans-serif;
}

toolbar.panelheader{
	-moz-appearance: none!important;
	border: none!important;
	border-bottom: 1px solid #999!important;
	background: url(/media/backoffice/bg_subheader_c.png) #ccc top left repeat-x!important;
	color: #666!important;
	font-size: 1.3em;
	font-weight: bold;
	padding: 3px;
	margin: 0px;
}
label.warning{
	padding-left: 18px;
	height: 16px;
	padding-top: 2px;
	color: red;
	font-weight: normal;
	background-image: url(/changeicons/small/warning.png) ;
	background-repeat: no-repeat;
}
toolbarbutton.neutral{
	border: 0px none;
	-moz-appearance: none;
}
menu.toolbarLabel, label.toolbarLabel{
	font-size: 18px!important;
	color: #666!important;
	font-weight: bold!important;
}
label.toolbarSmallerLabel{
	font-size: 14px!important;
	color: #666!important;
	font-weight: bold!important;
	max-width: 550px!important;
	margin-left: -2px!important;
	margin-top: 3px!important;
}
toolbar toolbarbutton label{
	font-size: 8pt;
	color: inherit;
	font-weight: inherit;
}
menulist.unitValue label{
	font-size: 8pt;
	color: black;
	font-weight: normal;
}
menulist.unitValue menuitem[disabled] label{
	font-size: 8pt;
	color: silver;
	font-weight: normal;
}
listbox#toc listitem[selected]{
	font-weight: bold;
}
menuitem.richtext{
	padding: 1px!important;
	margin-bottom: 1px!important;
	border: none;
	border-left: 1px dotted silver!important;
	border-top: 1px dotted silver!important;
}
menuseparator.richtext{
	height: 3px!important;
	border: none!important;
}
menuitem.richtext>div{
	padding: 0px 0px 0px 16px;
}
menuitem[used="true"].richtext>div{
	background: url(chrome://global/skin/menu/menu-check.gif) center left no-repeat;
	list-style-image: url(chrome://global/skin/menu/menu-check.gif);
}
menuitem[used="true"].menuitem-iconic>div{
	font-weight: bold;
	text-decoration: underline;
}
menuitem[disabled="true"].menuitem-iconic{
	opacity: 0.4!important;
}
menuitem[disabled]{
	opacity: 0.4!important;
}
.wizardTitle{
	font-size: 14pt;
	color: #666;
}
.wizardPanelTitle{
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 10px;
}
.wizardPanelImage{
	margin: 0px 15px;
}
spacer.separator{
	border: 1px solid silver;
	margin: 10px 0px;
}
[sortDirection="ascending"].treecol-sortdirection{
	list-style-image: url(/changeicons/small/arrow-up-blue.png) !important;
}
[sortDirection="descending"].treecol-sortdirection{
	list-style-image: url(/changeicons/small/arrow-down-blue.png) !important;
}
toolbarbutton[class="affectedTag"]{
	color: red;
}
.formInfoPanel{
	border: 1px solid #eeeeff;
	color: #0066ff;
	background: url(/changeicons/small/information.png) #fff no-repeat 3px 3px;
	padding: 3px 3px 3px 18px;
}
.formInfoPanel description{
	text-indent: 16px;
}
description.formPanelTitle{
	font-weight: bold;
	font-size: 10pt;
}
[focused=true]{
	border: 0px;
}
label.required{
	color: #0066ff;
	font-weight: bold;
}
wmoduleheader>label{
	font-size: 10pt;
	font-weight: bold;
}
wmoduleheader image{
	max-height:24px;
	max-width:24px;
}
.change-toolbox, cmoduletoolbar{
	-moz-appearance: none;
	border: none;
	background: url(/media/backoffice/contentbg.gif) #fff top left repeat-x;
}
.change-toolbox-rsctree{
	-moz-appearance: none!important;
	border: none!important;
	border-left: 1px solid #999!important;
	background: #fff!important;
}
.change-toolbox-dark{
	-moz-appearance: none;
	border: none;
	border-bottom: 1px solid #999;
	background: url(/media/backoffice/bg_subheader_c.png) #ccc top left repeat-x;
}
label.change-toolbox-dark{
	max-height: 28px;
	min-height: 28px;
	margin: 0;
	padding: 5px;
}

.change-toolbox-light{
	-moz-appearance: none!important;
	border: none!important;
	background: url(/media/backoffice/headerbg.gif) #fff bottom left repeat-x!important;
	padding-bottom: 3px;
	min-height: 28px;
}
.change-toolbar{
	-moz-appearance: none!important;
	border: none!important;
}
.change-toolbar-compact{
	-moz-appearance: none!important;
	border: none!important;
	border-bottom: 1px solid #a5acb2!important;
}
toolbox.module-header-toolbox{
	-moz-appearance: none!important;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	border: none!important;
	border-bottom: 1px solid #999!important;
	background-image: url(/media/backoffice/bg_subheader_c.png) !important;
	background-color: #ccc!important;
	background-position: top left!important;
	background-repeat: repeat-x!important;
	max-height: 28px!important;
	min-height: 28px!important;
	height: 28px!important;
}
toolbox.module-header-toolbox toolbarbutton.toolbarLabel > image{
	max-height: 16px;
	height: 16px;
	max-width: 16px;
	width: 16px;
}
.module-header-toolbar{
	-moz-appearance: none!important;
	padding: 0px;
	margin: 0px;
	border: none!important;
	max-height: 28px!important;
	height: 28px!important;
}
splitter{
	-moz-appearance: none!important;
	background: url(/media/backoffice/contentbg.gif) #fff top left repeat-x;
	border: none!important;
	border-left: 1px solid #ccc!important;
	border-right: 1px solid #ccc!important;
}
splitter.multi-tree-splitter{
	-moz-appearance: none!important;
	background: #fff!important;
	border: none!important;
	border-top: 1px solid #999!important;
	border-bottom: 1px solid #999!important;
}
caption{
	-moz-appearance: none;
	background: #fff;
}
tooltip{
	-moz-appearance: none!important;
	border: 1px solid #000!important;
	background-color: #fff!important;
}
toolbar label,tab{
	font-family: "trebuchet MS", Arial, sans-serif;
	font-weight: normal;
	color: #000;
	font-size: 12px;
}

.modalDialogWindow{
	background: url(/media/backoffice/dialog-header-bg.png) white repeat-x top left;
	padding: 4px 5px;
	border: 2px solid #333;
	-moz-border-radius:5px;
	opacity: 0.99;
}
.modalDialogWindow .dialog-header {
	color:#333;
	font-size:20px;
	margin-bottom:5px;
	padding-left:20px;
}
wdialog[template="ressource"] .dialog-header{
	background: url(/changeicons/small/misc.png) transparent center  left no-repeat!important;
}
wdialog[template="startworkflow"] .dialog-header{
	background: url(/changeicons/small/workflow.png) transparent center  left no-repeat!important;
}
wdialog[template="orderChildren"] .dialog-header{
	background: url(/changeicons/small/sort.png) transparent center  left no-repeat!important;
}
wdialog[template="richtexteditlink"] .dialog-header{
	background: url(/changeicons/small/richtext/link.png) transparent center  left no-repeat!important;
}
wdialog[template="richtexteditimage"] .dialog-header{
	background: url(/changeicons/small/richtext/image.png) transparent center  left no-repeat!important;
}
wdialog[template="richtextressource"] .dialog-header{
	background: url(/changeicons/small/misc.png) transparent center  left no-repeat!important;
}
wdialog[template="blockselector"] .dialog-header{
	background: url(/changeicons/small/list-block.png) transparent center  left no-repeat!important;
}
wdialog[template="aboutchange"] .dialog-header{
	background: url(/changeicons/small/help.png) transparent center  left no-repeat!important;
}


treechildren::-moz-tree-image(editlocale_root){
	list-style-image: url(/changeicons/small/component_green.png) ;
}
treechildren::-moz-tree-image(editlocale_folder){
	list-style-image: url(/changeicons/small/folder.png) ;
}
treechildren::-moz-tree-image(editlocale_folder, overridden){
	list-style-image: url(/changeicons/small/folder_add.png) ;
}
treechildren::-moz-tree-image(editlocale_package){
	list-style-image: url(/changeicons/small/environment.png) ;
}
treechildren::-moz-tree-image(editlocale_package, overridden){
	list-style-image: url(/changeicons/small/environment_add.png) ;
}
treechildren::-moz-tree-image(editlocale_entity){
	list-style-image: url(/changeicons/small/element.png) ;
}
treechildren::-moz-tree-image(editlocale_entity, overridden){
	list-style-image: url(/changeicons/small/element_add.png) ;
}
treechildren::-moz-tree-cell(editlocale_entity, overridden, useredited),treechildren::-moz-tree-cell(editlocale_entity, useredited){
	background-image: url(/changeicons/small/user1_add.png) ;
	background-repeat: no-repeat;
	background-position: left;
}

menupopup.richtext-list menuitem label{
	padding: 0!important;
	font-size: 12px!important;
}
menupopup.richtext-specialchar toolbarbutton{
	width: 25px;
	padding: 0 2px !important;
}
menupopup.richtext-specialchar toolbarbutton:hover{
	background-color: gainsboro !important;
}
menupopup.richtext-specialchar toolbarbutton image{
	display: none;
}
menupopup.richtext-specialchar toolbarbutton label{
	text-align: center;
}

listbox.search-result-box{
	-moz-appearance: none!important;
	border: none!important;
	margin: 0!important;
	padding: 0!important;
	background: url(/media/backoffice/headerbg.gif) #fff 0px 8px repeat-x!important;
}

wpropertygrid toolbar.change-toolbar{
	min-height: 28px;
}
wpropertygrid toolbarbutton{
	min-height: 28px;
}
wpropertygrid pglabel{
	font-size: 9pt!important;
	font-weight: bold!important;
	color: black!important;
}
wpropertygrid pglabel[error="true"] .fieldlabel{
	color: red;
}
wpropertygrid cfield[error="true"] input.textbox-input{
	background: #FFBBBB!important;
}
wpropertygrid box.header{
	margin-left: 0px;
	background: #999!important;
	height: 16px!important;
}
wpropertygrid box.control{
	background: #fff!important;
	padding-bottom: 5px;
}

#modules-uixul-block-body{
	overflow-x: hidden;
}
.modules-uixul-block{
	font-family: "trebuchet MS";
	font-size: 68%;
	margin-top: 0px;
}
.modules-uixul-block div,.modules-uixul-block span{
	font-size: 1em;
}
.modules-uixul-block,.modules-uixul-content{
	margin-top: 80px;
}
.modules-uixul-block h1{
	color: #666;
	font-weight: bold;
	margin-top: 0px;
}
.modules-uixul-block a{
	text-decoration: none;
	color: #000;
}
.modules-uixul-block a:hover{
	text-decoration: underline;
	color: #9ea900;
}

.header{
	padding: 0 5px 0 5px;
	margin-left: -5px;
	position: absolute;
	height: 32px;
	top: 0;
	left: 0;
	width: 100%;
	background: url(/media/backoffice/bandeau_CMS.png) top left no-repeat;
}
.header .logo-cms{
	font-size: 1.4em;
	color: #9faa02;
	background: url(/media/frontoffice/header.jpg) transparent top left;
}
.header .nav-top{
	position: absolute;
	top: 9px;
	right: 15px;
}
.header .nav-top a img{
	border: 0;
}
.sub-header{
	padding: 4px 0px 4px 0px;
	position: absolute;
	height: 22px;
	top: 32px;
	left: 0;
	width: 100%;
	background: url(/media/backoffice/back/bg_subheader_c.png) #ccc top left repeat-x;
	border-bottom: 1px solid silver;
}
.sub-header-title{
	position: absolute;
	left: 5px;
	top: 4px;
	font-size: 1.4em;
}
.sub-header-nav{
	position: absolute;
	right: 15px;
	top: 7px;
}
label.menulist-label{
	color: black;
}

cdocumenteditor{
	background-color: white;
}

clabel label.required{
	font-family: Courier, monospace;
	font-weight: normal;
}
clabel[required="true"]{
	color: #0066ff;
	font-weight: bold;
}
clabel[error="true"] .fieldlabel{
	color: red;
}
clabel[modified="true"]{
	color: green;
}

clayoutblockbutton{
	padding: 1px;
	min-height: 30px;
}
clayoutblockbutton .toolbarbutton-text{
	text-align: left!important;
}

/** Tags dialog */
wdialog[template="manageTags"]{
	padding: 0;
}
wdialog[template="manageTags"] .dialog-header{
	margin: 4px 5px;
	background: url(/changeicons/small/tags.png) transparent center  left no-repeat!important;
}
wdialog[template="manageTags"] .selector-box{
	background: url(/media/backoffice/bg-dash-title.png) #ccc top left repeat-x;
	padding: 1px 10px;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
wdialog[template="manageTags"] menuitem{
	padding-left: 25px;
}
wdialog[template="manageTags"] menuitem[hasAffectedTags]{
	background-image: url(/changeicons/small/check.png) ;
	background-repeat: no-repeat;
	background-position: 5px 0;
}
wdialog[template="manageTags"] toolbarbutton{
	color: green;
}
wdialog[template="manageTags"] toolbarbutton.affectedTag{
	color: red;
}
wdialog[template="manageTags"] row>hbox{
	border-right: 1px dotted silver;
	border-bottom: 1px dotted silver;
	padding: 2px;
}
wdialog[template="manageTags"] row>hbox:nth-child(3){
	border-right: none;
}

wdialog[template="userpreferences"] .dialog-header{
	background: url(/changeicons/small/preferences.png) transparent center  left no-repeat !important;
}
wdialog[template="blockInfos"] .dialog-header{
	background: url(/changeicons/small/information.png) transparent center  left no-repeat !important;
}
wdialog[template="blockInfos"] [anonid="richtextContent"]{
	overflow: auto;
	border: 1px #aaa solid;
	height: 128px;
	margin-right: 15px;
	padding: 3px;
}
.allow-text-selection{
	cursor: text;
	-moz-user-select: text;
	-moz-user-focus: normal;
}

vbox.errorMainContainer{
	margin: 0px 0px;
	background: black;
	opacity: 0.70;
}
vbox.errorMessageWindow{
	background: white;
	border: 2px solid darkred;
	-moz-border-radius:5px;	
	opacity: 0.99;
}
.errorMessageTitle{
	background-image: -moz-linear-gradient(top, #BA002A, #FF051E);	
	padding: 2px 2px 2px 8px;
	color: #333;
	border-bottom: black 1px solid;
}
.errorMessageTitleLabel{
	padding: 2px 0;
	font-size: 20px;
}
.errorMessageContent{
	color: #555;
	font-size: 15px;
	border: none;
	min-height: 75px;
	padding: 8px;
	overflow: auto;
}
.errorMessageTextbox{
	white-space: pre-wrap;
}

.tabs-left,.tabs-right{
	-moz-box-flex: 0!important;
}

/** To view icons in menus on Linux version of Firefox. */ 
.menu-iconic-left {
	visibility: visible;
}