wcontroller{
	-moz-binding: url(binding:core.wController#wController);
}
wcore{
	-moz-binding: url(binding:core.wCore#wCore);
}
wdialog{
	-moz-binding: url(binding:core.wDialog#wDialog);
	-moz-user-focus: normal;
}
wdialog[template="aboutchange"]{
	-moz-binding: url(binding:core.cAboutChange#cAboutChange);
}
wdialog[template="alert"]{
	-moz-binding: url(binding:core.wDialog#alertDialog);
}
wdialog[template="addtopic"]{
	-moz-binding: url(binding:core.wDialog#wAddTopicDialog);
}
wdialog[template="ressource"]{
	-moz-binding: url(binding:core.wDialog#cRessourceDialog);
}
wdialog[template="richtexteditlink"]{
	-moz-binding: url(binding:core.cLinkEditor#cLinkEditor);
}
wdialog[template="richtexteditimage"]{
	-moz-binding: url(binding:core.cImageEditor#cImageEditor);
}

wdialog[template="richtextressource"]{
	-moz-binding: url(binding:core.wDialog#cRichtextRessourceDialog);
}
wdialog[template="manageTags"]{
	-moz-binding: url(binding:widgets.cManageTagsDialog#cManageTagsDialog);
}
wdialog[template="startworkflow"]{
	-moz-binding: url(binding:widgets.wStartworkflow#wStartworkflow);
}
wdialog[template="userpreferences"]{
	-moz-binding: url(binding:core.wDialog#cUserPreferencesDialog);
}

wdialog[template="orderChildren"]{
	-moz-binding: url(binding:widgets.cOrderChildrenDialog#cOrderChildrenDialog);
}
wdialog[template="orderChildren"] cdocumentlist{
	-moz-binding: url(binding:widgets.cOrderChildrenDialog#cDocumentList);
}

wsearchbox{
	-moz-binding: url(binding:widgets.wSearchBox#wSearchBox);
}
wsearchoptions{
	-moz-binding: url(binding:widgets.wSearchOptions#wSearchOptions);
}
wsplitterbutton{
	-moz-binding: url(binding:widgets.wSplitterButton#wSplitterButton);
	-moz-user-focus: none!important;
}
wmultitree{
	-moz-binding: url(binding:widgets.wMultitree#wMultitree);
}
pglabel{
	-moz-binding: url(binding:widgets.wPropertyGrid#pgLabel);
}
wpropertygridcontainer{
	-moz-binding: url(binding:widgets.wPropertyGridContainer#wPropertyGridContainer);
}


crichtextblocktoolbar{
	-moz-binding: url(binding:deprecated.cRichTextBlockToolbar#cRichTextBlockToolbar);
}
clayouttoolbar{
	-moz-binding: url(binding:deprecated.cLayoutToolbars#cLayoutToolbar);
}
wblocktoolbar{
	-moz-binding: url(binding:deprecated.cLayoutToolbars#wBlockToolbar);
}
wblocktoolbar[type="empty"]{
	-moz-binding: url(binding:deprecated.cLayoutToolbars#wEmptyToolbar);
}

wformhelppanel{
	-moz-binding: url(binding:form.wFormHelpPanel#wFormHelpPanel);
}
cmainmenu{
	-moz-binding: url(binding:core.cMainMenu#cMainMenu);
}
wmoduleheader{
	-moz-binding: url(binding:core.wModuleHeader#wModuleHeader);
}
wmodule[name="searchresults"]{
	-moz-binding: url(binding:core.cSearchResultsModule#cSearchResultsModule);
}
cnavigationtree{
	-moz-binding: url(binding:widgets.cNavigation#cNavigationTree);
}
cmoduletoolbar{
	-moz-binding: url(binding:widgets.cNavigation#cModuleToolBar);
}
cmodulelist{
	-moz-binding: url(binding:widgets.cNavigation#cModuleList);
}
cmodulelist[allowthumbnail="true"]{
	-moz-binding: url(binding:widgets.cNavigation#cModuleThumbnailList);
}
cthumbnailitem{
	-moz-binding: url(binding:widgets.cNavigation#cThumbnailItem);
}

cpaginator{
	-moz-binding: url(binding:widgets.cNavigation#cPaginator);
}
cressourcestreeselector{
	-moz-binding: url(binding:widgets.cNavigation#cRessourcesTreeSelector);
}
cressourceslistselector{
	-moz-binding: url(binding:widgets.cNavigation#cRessourcesListSelector);
}
cressourcesselector{
	-moz-binding: url(binding:widgets.cNavigation#cRessourcesSelector);
}
csearchresults{
	-moz-binding: url(binding:widgets.cNavigation#cSearchResults);
}
cconstraint{
	-moz-binding: url(binding:form.cConstraint#cConstraint);
}
cconstraint[name="email"]{
	-moz-binding: url(binding:form.cConstraint#cEmailConstraint);
}
cconstraint[name="emails"]{
	-moz-binding: url(binding:form.cConstraint#cEmailsConstraint);
}
cconstraint[name="minSize"]{
	-moz-binding: url(binding:form.cConstraint#cMinSizeConstraint);
}
cconstraint[name="maxSize"]{
	-moz-binding: url(binding:form.cConstraint#cMaxSizeConstraint);
}
cconstraint[name="min"]{
	-moz-binding: url(binding:form.cConstraint#cMinConstraint);
}
cconstraint[name="max"]{
	-moz-binding: url(binding:form.cConstraint#cMaxConstraint);
}
cconstraint[name="url"]{
	-moz-binding: url(binding:form.cConstraint#cURLConstraint);
}
cconstraint[name="domain"]{
	-moz-binding: url(binding:form.cConstraint#cDomainConstraint);
}
cconstraint[name="unique"]{
	-moz-binding: url(binding:form.cConstraint#cUniqueConstraint);
}
cfield[fieldtype="hidden"]{
	-moz-binding: url(binding:form.cField#cHiddenField);
}
cfield[fieldtype="text"]{
	-moz-binding: url(binding:form.cField#cTextField);
}
cfield.template[fieldtype="text"]{
	-moz-binding: url(binding:form.cField#cTextTemplateField);
}
cfield[fieldtype="password"]{
	-moz-binding: url(binding:form.cField#cPasswordField);
}
cfield[fieldtype="longtext"]{
	-moz-binding: url(binding:form.cField#cLongTextField);
}
cfield.template[fieldtype="longtext"]{
	-moz-binding: url(binding:form.cField#cLongTextTemplateField);
}
cfield.with-counter[fieldtype="longtext"]{
	-moz-binding: url(binding:form.cField#cLongTextWithCounterField);
}
cfield[fieldtype="color"]{
	-moz-binding: url(binding:form.cField#cColorField);
}
cfield[fieldtype="richtext"]{
	-moz-binding: url(binding:form.cField#cRichTextField);
}
crichtext{
	-moz-binding: url(binding:core.cRichText#cRichText);
}
cfulltexteditor{
	-moz-binding: url(binding:widgets.cFullTextEditor#cFullTextEditor);
}
crichtextfieldtoolbar{
	-moz-binding: url(binding:form.cRichTextFieldToolbar#cRichTextFieldToolbar);
}
cfield[fieldtype="integer"]{
	-moz-binding: url(binding:form.cField#cIntegerField);
}
cfield[fieldtype="duration"]{
	-moz-binding: url(binding:form.cField#cDurationField);
}
cfield[fieldtype="size"]{
	-moz-binding: url(binding:form.cField#cSizeField);
}
cfield[fieldtype="double"]{
	-moz-binding: url(binding:form.cField#cDoubleField);
}
cfield[fieldtype="datetime"]{
	-moz-binding: url(binding:form.cField#cDateTimeField);
}
cfield[fieldtype="boolean"]{
	-moz-binding: url(binding:form.cField#cBooleanField);
}
cfield[fieldtype="simplelist"]{
	-moz-binding: url(binding:form.cField#cSimpleListField);
}
cfield[fieldtype="radiolist"]{
	-moz-binding: url(binding:form.cField#cRadioListField);
}
cfield[fieldtype="radiolist"] radiogroup{
	-moz-binding: url(binding:form.cField#cRadiogroup);
}
cfield[fieldtype="dropdownlist"]{
	-moz-binding: url(binding:form.cField#cDropDownListField);
}
cfield[fieldtype="multiplelist"]{
	-moz-binding: url(binding:form.cField#cMultipleListField);
}
cfield[fieldtype="checklist"]{
	-moz-binding: url(binding:form.cField#cCheckListField);
}
cfield[fieldtype="document"]{
	-moz-binding: url(binding:form.cField#cDocumentField);
}
cfield[fieldtype="documentarray"]{
	-moz-binding: url(binding:form.cField#cDocumentArrayField);
}
clabel{
	-moz-binding: url(binding:form.cField#cLabel);
}
chelppanel{
	-moz-binding: url(binding:layout.cDocumentEditor#cHelpPanel);
}
cmessageinfo{
	-moz-binding: url(binding:layout.cDocumentEditor#cMessageInfo);
}
cresumesection{
	-moz-binding: url(binding:layout.cDocumentEditor#cResumeSection);
}
cproperty{
	-moz-binding: url(binding:layout.cDocumentEditor#cProperty);
}
cproperty.openactionuri{
	-moz-binding: url(binding:layout.cDocumentEditor#cOpenActionURIProperty);
}
cproperty.link{
	-moz-binding: url(binding:layout.cDocumentEditor#cLinkProperty);
}
cproperty.action{
	-moz-binding: url(binding:layout.cDocumentEditor#cActionProperty);
}
cproperty.downloadlink{
	-moz-binding: url(binding:layout.cDocumentEditor#cLinkProperty);
}
cproperty[type="iframe"]{
	-moz-binding: url(binding:layout.cDocumentEditor#cIframeProperty);
}
cproperty[type="langs"]{
	-moz-binding: url(binding:layout.cDocumentEditor#cLangsProperty);
}
cfieldsgroup{
	-moz-binding: url(binding:layout.cDocumentEditor#cFieldsGroup);
}
cfieldsgroup.toggle{
	-moz-binding: url(binding:layout.cDocumentEditor#cToggleFieldsGroup);
}
crofield{
	-moz-binding: url(binding:layout.cDocumentEditor#cROField);
}
crofield[fieldtype="richtext"]{
	-moz-binding: url(binding:layout.cDocumentEditor#cROFieldXHTML);
}
cpublicationsection{
	-moz-binding: url(binding:layout.cDocumentEditor#cPublicationSection);
}
cselectablelabel{
	-moz-binding: url(binding:layout.cDocumentEditor#cSelectableLabel);
}

cfield[fieldtype="namedgridlist"]{
	-moz-binding: url(binding:widgets.cGrid#cNamedGridField);
}
cpublicationcell{
	-moz-binding: url(binding:widgets.cGrid#cPublicationCell);
}
ciconcell{
	-moz-binding: url(binding:widgets.cGrid#cIconCell);
}

cform{
	-moz-binding: url(binding:form.cFormTest#cForm);
}
ctestgrid{
	-moz-binding: url(binding:widgets.cGridTest#cTestSoratbleGrid);
}
gridlist.testsoratblegrid{
	-moz-binding: url(binding:widgets.cGridTest#cTestSoratbleGrid);
}
gridlist.testorderablegrid{
	-moz-binding: url(binding:widgets.cGridTest#cTestOrderableGrid);
}




cpageditor{
	-moz-binding: url(binding:layout.cPageEditor#cPageEditor);
	-moz-box-flex: 1;
}

cdroplayout{
	-moz-binding: url(binding:layout.cPageEditor#cDropLayout);
}
cdropblockrow{
	-moz-binding: url(binding:layout.cPageEditor#cDropBlockRow);
}
cdropblockcell{
	-moz-binding: url(binding:layout.cPageEditor#cDropBlockCell);
}


ccontent{
	-moz-binding: url(binding:layout.cPageEditor#cContent);
}
cblocklayout{
	-moz-binding: url(binding:layout.cPageEditor#cBlockLayout);
}
clayoutcolumn{
	-moz-binding: url(binding:layout.cPageEditor#cLayoutColumn);
}
clayoutrow{
	-moz-binding: url(binding:layout.cPageEditor#cLayoutRow);
}

cblock{
	-moz-binding: url(binding:layout.cPageEditor#cBlockAction);
}
cblock[bind=richtext]{
	-moz-binding: url(binding:layout.cPageEditor#cBlockRichtext);
}
cblock[bind=empty]{
	-moz-binding: url(binding:layout.cPageEditor#cBlockEmpty);
}

wdialog[template="blockInfos"]{
	-moz-binding: url(binding:widgets.cPageEditorDialog#cBlockInfosDialog);
}

wdialog[template="blockselector"]{
	-moz-binding: url(binding:widgets.cPageEditorDialog#cBlockSelectorDialog);
}
wdialog blocsection{
	-moz-binding: url(binding:widgets.cPageEditorDialog#blocSection);
}
wdialog blocselector{
	-moz-binding: url(binding:widgets.cPageEditorDialog#blocSelector);
	-moz-user-focus: normal;
}

wdialog[template="savetemplate"]{
	-moz-binding: url(binding:widgets.cPageEditorDialog#cSaveTemplate);
}
