cmessageinfo{
	padding: 5px;
	min-height: 70px;
}

.editormessagecontainer{
	border: 1px solid #999;
	padding: 2px;
}
.editormessagecontainer.clear{
	background-color: #EEEEEE;
}
.editormessagecontainer.error{
	background-color: #f18989;
}
.editormessagecontainer.information{
	background-color: #AEFFB3;
}
.editormessagecontainer.warning{
	background-color: #FCFFCD;
}
.editormessagecontainer.help{
	background-color: #b0b4ff;
}
p.editormessageinfo{
	margin-left: 8px;
	font-size: 12px;
	color:black;
	min-height:32px;
	display:inline-block;
	padding-left: 48px;
	font-weight: bolder;	
}

.editormessagecontainer.error p.editormessageinfo{
	background: url(/changeicons/normal/negative.png) center left no-repeat;

}
.editormessagecontainer.warning p.editormessageinfo {
	background: url(/changeicons/normal/warning.png) center left no-repeat;
}
.editormessagecontainer.information p.editormessageinfo{
	background: url(/changeicons/normal/positive.png) center left no-repeat;
}
.editormessagecontainer.help p.editormessageinfo{
	background: url(/changeicons/normal/help.png) center left no-repeat;
}

vbox.resumesection{
	margin: 5px;
	border: 1px solid #bbb;
	-moz-border-radius: 5px;
	background-color: #f9f9f9;
}
vbox.resumesection>hbox.head{
	margin: -1px;
	min-height: 18px;
	background: url(/media/backoffice/bg-dash-title.png) #ccc top left repeat-x;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	padding: 4px 5px;
	-moz-border-radius: 5px!important;
	border: 1px solid #aaa;
}
vbox.resumesection>vbox.content{
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 18px;
}
vbox.resumesection toolbarbutton{
	margin-left: 7px;
	min-height: 28px;
}
vbox.resumesection hbox.title>label,cfieldsgroup.toggle hbox.title label{
	margin-left: 5px;
	font-size: 12px;
}
vbox.resumesection label.text-link{
	color: blue;
	cursor: pointer;
}
hbox.twisty image,cfieldsgroup.toggle hbox.title image{
	max-height: 16px;
	height: 16px;
	max-width: 16px;
	width: 16px;
}
hbox.twisty image{
	cursor: pointer;
}
cfieldsgroup.toggle{
	border: 1px solid #bbb;
	-moz-border-radius: 5px;
	background-color: #f9f9f9;
	margin: 5px;
}
cfieldsgroup.toggle>vbox>hbox.head{
	height: 18px;
	max-height: 18px;
	color: #000;
	font-weight: bold;
	padding: 4px 5px;
	margin: -1px;
	border: 1px solid #aaa;
	background: url(/media/backoffice/bg-dash-title.png) #ccc top left repeat-x;
	-moz-border-radius: 5px!important;
}
cfieldsgroup.toggle>vbox>hbox.head label{
	margin-bottom: 0!important;
}
cfieldsgroup.toggle [anonid="twisty"]{
	margin: 6px 5px 5px 5px;
}
cproperty{
	color: #000;
}
cproperty label.label,clinkproperty label.label, cpublicationsection label.label{
	font-weight: bold;
}
cproperty label.value{
	white-space: pre-wrap;
}
scrollbox.editordatacontainer{
	overflow: auto;
	border-top: 1px solid #DDD;
}
chistorypanel scrollbox.editordatacontainer{
	border-top: none;
}
clocalizationpanel row.localization{
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: solid 1px #aaa;
	margin-bottom: 10px;
}

row.localization crofield{
	background-color: #d4d4ff;	
}

clocalizationpanel row:nth-last-child(-n+1){
	border-bottom: none;
}
div.rocontent{
	white-space: pre;
	min-height: 10px;
	max-height: 100px;
	overflow: auto;
}
iframe.rocontent{
	padding: 2px;
	overflow: auto;
}
hbox.robox{
	padding-left: 5px;
}
grid.gridinfo row{
	padding: 2px 0;
}

cfield {
	min-height: 28px;
}

cfield[fieldtype="richtext"]{
	margin-left: 4px!important;
	margin-bottom:2px;
	margin-top:2px;
}
toolbarbutton[disabled="true"]{
	opacity: 0.4;
}