grid
{
	margin-top: 5px;
}

row.head
{
	font-weight: bold;
	background: #fff;
	border-bottom: 1px solid black;
}

row.head label[sortonfield]
{
	cursor: pointer !important;	
	padding-right: 16px;	
}

row.head label[sortDirection="asc"]
{
	background-image: url(/changeicons/small/arrow-down-blue.png);
	background-position: right;
	background-repeat: no-repeat;	
}

row.head label[sortDirection="desc"]
{
	background-image: url(/changeicons/small/arrow-up-blue.png);
	background-position: right;
	background-repeat: no-repeat;	
}
row.orderable label, row.orderable
{
	cursor: pointer !important;		
}


grid[disabled] row.orderable label, grid[disabled] row.orderable
{
	cursor: default !important;		
}

row.orderable
{
	padding-top: 1px; 
	padding-bottom: 1px;
}

row.dropafter
{
	border-bottom: solid 1px red; 
	padding-bottom: 0;
}
row.dropbefore
{
	border-top: solid 1px red; 
	padding-top: 0;
}

row.document:nth-child(odd)
{
	background: whitesmoke;
}
row.document:hover
{
	background-color: #ddd;
}
row>*
{
	padding: 2px 5px;
}
row>toolbar.actions
{
	padding: 0 5px;
}

row[dragAfter="true"]
{
	background-image: url(/changeicons/small/arrow-down-blue.png);
	background-position: right;
	background-repeat: no-repeat;
	border-bottom: 1px solid red;
}

.lang-unavailable
{
	background-image: url(/media/backoffice/bg_notranslation.png);
	background-position: -2px 50%;
	background-repeat: no-repeat;
}

cpublicationcell{
	padding-right: 0px;
}
cpublicationcell box{
	min-width: 16px;
	min-height: 16px;
	background-postion: center center;
	background-repeat: no-repeat;
}
cpublicationcell[value="PUBLICATED"] box{
	background-image: url(/changeicons/small/published-document.png) ;
}
cpublicationcell[value="ACTIVE"] box{
	background-image: url(/changeicons/small/publishable-document.png) ;
}
cpublicationcell[value="WORKFLOW"] box{
	list-style-image: url(/changeicons/small/workflow.png) ;
}
cpublicationcell[value="CORRECTION"] box{
	list-style-image: url(/changeicons/small/correction.png) ;
}