groupbox>hbox.groupbox-title{
	background: url(/media/backoffice/bg-dash-title.png) #ccc top left repeat-x;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	padding: 4px 5px;
	-moz-border-radius: 5px!important;
	border: 1px solid #aaa;
	border: 1px solid #aaa;
}
groupbox caption{
	background-color: transparent!important;
}
caption{
	padding: 0 3px!important;
	margin-left: 5px!important;
}
groupbox{
	background-color: #fff!important;
	border: none!important;
}
