groupbox>hbox.groupbox-title {
	background: url(/media/backoffice/bg-dash-title.png) #ccc top left repeat-x;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	padding: 4px 5px;
	-moz-border-radius: 5px!important;
	border-radius: 5px!important;
	border: 1px solid #aaa;
	border: 1px solid #aaa;
}
groupbox caption {
	background-color: transparent!important;
	padding: 0 !important;
	margin: 0 !important;
}
caption {
	padding: 0 3px!important;
	margin-left: 5px!important;
}
caption image.caption-icon[src] {
	margin-right: 3px !important;
}
groupbox {
	border: 1px solid #bbb !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	background-color: #f9f9f9 !important;
}