hbox.container {
	-moz-appearance: none !important;
	background: url(/media/backoffice/header-bg.png) repeat !important;
	min-height: 36px !important;
	border-top: none;
}

toolbarbutton.mainMenu {
	font-weight: bold !important;
	font-size: 9pt;
	min-height: 32px !important;
	border-top-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	border-right-width: 1px !important;
}

toolbarbutton.mainMenu>image {
	margin-right: 4px;
	height: 32px !important;
	min-height: 32px !important;
	max-height: 32px !important;
}

toolbarbutton.mainMenu>label {
	padding-right: 4px;
}

menuitem[version="v2"] {
	font-style:italic;
	color: #999;
}

menubar{
	-moz-appearance: none!important;
	border: none!important;
	padding: 0px;
	margin: 0px;
}

hbox.logo-product {
	padding-left: 5px!important;
}