a{
	cursor: default!important;
}
.hidden{
	display: none!important;
}
textbox#width input{
	background: url(/changeicons/small/resize-horizontal.png) no-repeat -1px -1px;
	padding: 0px 0px 0px 18px!important;
	-moz-appearance: none!important;
	font: icon!important;
	height: 20px!important;
	width: 182px!important;
	border: none!important;
}
textbox.col-width input{
	background: url(/changeicons/small/resize-horizontal.png) no-repeat -1px -1px;
	padding: 0px 0px 0px 18px!important;
	-moz-appearance: none!important;
	font: icon!important;
	height: 20px!important;
	width: 182px!important;
	border: none!important;
}
textbox#height input{
	background: url(/changeicons/small/resize-vertical.png) no-repeat -1px -1px;
	padding: 0px 0px 0px 18px!important;
	-moz-appearance: none!important;
	font: icon!important;
	height: 20px!important;
	width: 182px!important;
	border: none!important;
}

cdroplayout{
	background-color: #B7FFC7;
	border: 1px dotted #ccc!important;
	margin: 2px 0 2px 0!important;
	height: 10px!important;
	min-height: 10px!important;
	max-height: 10px!important;
	-moz-user-focus: normal;
	
}

cdropblockrow{
	min-height: 5px;
	-moz-user-focus: normal;
}

cdropblockcell{
	width: 5px;
	min-width: 5px;
	max-width: 5px; 
	-moz-user-focus: normal;
}

cblocklayout{
	border: 2px dotted #ccc!important;
}

clayoutcolumn{
	margin: 2px 0 2px 0;
	-moz-user-focus: normal;
	-moz-box-flex: 1;
}
clayoutcolumn[odd=true]{
	border-left: 2px solid #ccc!important;
}
clayoutcolumn[anonid="col_1"]{
	background: url(/media/backoffice/col1-bg.png) no-repeat top right;
	padding-top: 10px;
}
clayoutcolumn[anonid="col_2"]{
	background: url(/media/backoffice/col2-bg.png) no-repeat top right;
	padding-top: 10px;
}
cblock{
	border: 1px dashed #CCC!important;
	background-color: transparent!important;
	-moz-box-flex: 1;
	-moz-user-focus: normal;
}

cblock[bind="action"]{
	white-space: normal;
	word-wrap:break-word;
}

cblock[bind="empty"]{
	background: url(/media/backoffice/empty-block.gif);
	min-height: 12px!important;
	min-width: 12px!important;
}

cblock[bind="richtext"]{
	min-height: 30px!important;
	-moz-box-orient: vertical;
}

cdroplayout:hover, cdropblockrow:hover, cdropblockcell:hover{
	background-color: #D5EA27;
	cursor: pointer;
}
cblock:hover{
	border: 1px solid #D5EA27;
}

cdroplayout:focus, cdroplayout.selected, 
cdropblockrow:focus, cdropblockrow.selected, 
cdropblockcell:focus, cdropblockcell.selected{
	background-color: #4BEB19!important;
}
clayoutcolumn:focus, clayoutcolumn.selected{
	border-top: 2px solid #4BEB19!important;
	padding-top: 8px!important;
}

cdropblockcell:-moz-drag-over, cdropblockrow:-moz-drag-over, cdroplayout:-moz-drag-over{
  background-color: blue;
}

cblock:focus, cblock.selected{
	border: 1px solid #4BEB19!important;
	background-color: #4BEB19!important;
}