<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title i18n:translate="&modules.uixul.bo.general.More-help-titleEllipsis;">Change4 - Help on an element...</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="chrome://global/skin/" type="text/css" />
<style tal:replace="styles"/>
<script type="text/javascript">
    function init()
    {
        window.resizeTo(window.innerWidth, document.body.offsetHeight + 30);
    }
</script>
</head>
<body style="overflow: hidden;" onload="init()">
<div id="main" style="overflow: hidden;">
<img tal:attributes="src icon" style="float: left; margin: 5px;"/>
<div tal:content="message" style="font-size: 10pt; overflow: auto; min-height: 120px;"/>
<input type="submit" i18n:attributes="value &modules.generic.backoffice.buttons.Close;" onclick="self.close();" style="float: right;"/>
&nbsp;<br/>&nbsp;<br/>
</div>
</body>
</html>